@model IEnumerable<WEB.Models.PurchasedItem>

@{
    int healthy = Model.Where(x => x.IsHealthy == true).Count();
    int all = Model.Where(x => x.IsHealthy != null).Count();
    double healthPercentage = 100 * healthy / all;
}
<link rel="stylesheet" href="~/Content/dashboard.css" />
<div id="healthChart"></div><br/>

<script type="text/javascript">
    var chart2 = new CanvasJS.Chart("healthChart", {
        title: {
            text: "Your diet (Healthy/Unhealthy)"
        },
        animationEnabled: true,
        theme: "theme2",
        data: [
            {
                type: "pie",
                indexLabelFontFamily: "Garamond",
                indexLabelFontSize: 20,
                indexLabel: "{label} {y}%",
                startAngle: -20,
                dataPoints: [
                    { y:  @Html.Raw(Json.Encode(healthPercentage)), label: "Sveiki produktai" },
                    { y:  100 - @Html.Raw(Json.Encode(healthPercentage)), label: "Nesveiki produktai"}
                ]
            }
        ]
    });
    chart2.render();
</script>