
@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">My Dashboard</li>
</ol>


