
@{
    ViewBag.Title = "RegisterType";
}

<h2>Registration Type</h2>
<div>
    @Html.ActionLink("Register as a personal user", "Register")
</div>
<div>
    @Html.ActionLink("Register as a shop", "RegisterShop")
</div>
