
@{
	ViewBag.Title = "StoreList";
	Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">Store List</li>
</ol>
           <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" id="textbox1" placeholder="Add an item to the list...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="addBtn" >
                                    <i class=></i>ADD 
                                </button>
                            </span>
                            <br> 
                        </div>
                    </form>
                    <textarea id="TA1" cols="25" rows="10"></textarea>
                    <script type="text/javascript">
                        document.getElementById("addBtn").addEventListener('click', function () {
                            var text = document.getElementById('textbox1').value;
                            document.getElementById('TA1').value += text + '\n';
                        });
                    </script>
                </li>
            </ol>        
   