@model WEB.Models.ShopFromList

@{
	ViewBag.Title = "StoreList";
	Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@using (Html.BeginForm())
{
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">Store List</li>
</ol>
           <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" id="textbox1" placeholder="Add an item to the list...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="addBtn">
                                    <i></i>ADD
                                </button>
                            </span>
                            <br> <br />
                        </div>
                        <ol id="list">
                            </ol>
                        <script type="text/javascript">
                            document.getElementById("addBtn").addEventListener('click', function () {
                                var li = document.createElement("LI");
                                var input = document.getElementById("textbox1");
                                li.innerHTML = input.value;
                                input.value = "";
                                document.getElementById("list").appendChild(li);
                                
                            });
                        </script>
                        <input id="Submit1" type="submit" value="submit" />
                    </form>
                </li>
            </ol>        
}