@model string

@{
	ViewBag.Title = "Scan";
	Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">Scan Receipt</li>
</ol>
<div class="alert alert-info" role="alert">
	Please select "SCAN" button in order to open your Camera!
</div>
@using (Html.BeginForm("Index", "ImageScan", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Scan Form</h4>
		<img id="scanImage" src="~/Content/images/scan_button.jpg" style="cursor:pointer;display:block;margin:0 auto" /><br>
		<input type="file" name="postedImage" id="imagetoscan" style="display:none" accept="image/*" capture="camera" value="Scan" />
	</div>

}
@if (Model != null && ViewData.ModelState.IsValid)
{
	<div class="alert alert-warning" role="alert">
		<b>Attention!</b>The final output of each line should be like that: [PRODUCT NAME/DESCRIPTION] [WHITESPACE CHARACTERS] [PRICE] [VALUES: A or N]<br>
		If you see any errors, please fix them manually before submitting!<br>
		<b>Example:&nbsp;</b> <i>productname1 1,25 A</i>
	</div>

	using (Html.BeginForm("ValidatedAnswer", "ImageScan", FormMethod.Post, new { id = "uploadOutput" }))
	{
		<input type="submit" name="postedOutput" id="verifyoutput" style="display:block;margin:0 auto" value="Verify" /><br>
		@Html.TextArea("input", Model, htmlAttributes: new { @cols=60, @rows=20, @style="display:block;margin:0 auto"} )
		

	}
}
<script>
	$(document).ready(function () {
		$("#scanImage").click(function () {
			$("#imagetoscan").trigger('click');
		});
	});
</script>
<script type="text/javascript">
	$(function () {
		$("input:file").change(function () {
			$("#uploadForm").submit();
		});
	});
</script>